In [1]:
import os
import sys
import dask
import uproot4
import numpy as np
import pandas as pd
from hist import Hist
import hist
import uproot4 as uproot
from dask.array import histogram as ds_hist
import dask.dataframe as dd
import timeit
from dask.distributed import Client
import storage_functions as sf
import time
##procedurre to make client dask work
# read hdf data convert it to csv and save it, then read csv with dask data frame
# or just reset index and then go from there

In [2]:
h_names = []
file_names = []
temp = pd.read_hdf("Skl_Data/test12345.h5")

In [3]:
for i in range(0,5):
    temp = temp.append(temp)

In [4]:
%%time
for i in range(0,10):
    h_names.append(f"h{i}")
    file_names.append(f"test{i}.h5")
    #if os.path.isfile(f"Skl_Data/test{i}.h5"): os.remove(f"Skl_Data/test{i}.h5")
    #temp.to_hdf(f"Skl_Data/test{i}.h5", key="branches")

CPU times: user 16 µs, sys: 0 ns, total: 16 µs
Wall time: 21 µs

In [5]:
x = pd.read_hdf("Skl_Data/test0.h5")

In [6]:
x

                      leptons_pt      jets_pt   weight_mc  runNumber       BDT
event lep jet bdt
0     0   0   0    127083.039062  104784.4375  736.971985     284500  0.344902
              1    127083.039062  104784.4375  736.971985     284500  0.367624
              2    127083.039062  104784.4375  736.971985     284500  0.069904
              3    127083.039062  104784.4375  736.971985     284500  0.010252
              4    127083.039062  104784.4375  736.971985     284500  0.207318
...                          ...          ...         ...        ...       ...
3681  0   3   0     89429.367188   48895.3125  735.537537     284500  0.151289
              1     89429.367188   48895.3125  735.537537     284500  0.329823
              2     89429.367188   48895.3125  735.537537     284500  0.144091
              3     89429.367188   48895.3125  735.537537     284500  0.116522
              4     89429.367188   48895.3125  735.537537     284500  0.258275

[2920000 rows x 5 columns]

In [7]:
histogramming = sf.HistoMaker()

In [8]:
#histogramming.client_start()

In [9]:
file_names

['test0.h5',
 'test1.h5',
 'test2.h5',
 'test3.h5',
 'test4.h5',
 'test5.h5',
 'test6.h5',
 'test7.h5',
 'test8.h5',
 'test9.h5']

In [10]:
%%time
folder = 'Skl_Data'
f_list = file_names
dask.delayed(histogramming.load_data(folder_name = folder,file_list =f_list ,drop_existing= True)).compute()
folder

read time: 1.1117823123931885
reset time: 0.21937894821166992
converting: 0.2788815498352051
read time: 1.1355865001678467
reset time: 0.22549009323120117
converting: 0.2800102233886719
read time: 1.1444284915924072
reset time: 0.21973156929016113
converting: 0.27895665168762207
read time: 1.1483261585235596
reset time: 0.22172760963439941
converting: 0.27861762046813965
read time: 1.154381275177002
reset time: 0.21864819526672363
converting: 0.278240442276001
read time: 1.1447618007659912
reset time: 0.2180616855621338
converting: 0.27855491638183594
read time: 1.107800006866455
reset time: 0.21701979637145996
converting: 0.2812376022338867
read time: 1.1366450786590576
reset time: 0.20912694931030273
converting: 0.2813136577606201
read time: 1.128711462020874
reset time: 0.24388527870178223
converting: 0.27884626388549805
read time: 1.2624843120574951
reset time: 0.20619940757751465
converting: 0.2800285816192627
CPU times: user 9.56 s, sys: 6.96 s, total: 16.5 s
Wall time: 16.5 s

'Skl_Data'

In [11]:

h_params = {'bins': 100, 'start' : 0, 'stop': 1*10**6,'name': 'test'}
histogramming.create_histograms(drop_existing = True, histogram_names = h_names, histogram_params = h_params)

{'h0': Hist(Regular(100, 0, 1e+06, name='test', label='test'), storage=Double()),
 'h1': Hist(Regular(100, 0, 1e+06, name='test', label='test'), storage=Double()),
 'h2': Hist(Regular(100, 0, 1e+06, name='test', label='test'), storage=Double()),
 'h3': Hist(Regular(100, 0, 1e+06, name='test', label='test'), storage=Double()),
 'h4': Hist(Regular(100, 0, 1e+06, name='test', label='test'), storage=Double()),
 'h5': Hist(Regular(100, 0, 1e+06, name='test', label='test'), storage=Double()),
 'h6': Hist(Regular(100, 0, 1e+06, name='test', label='test'), storage=Double()),
 'h7': Hist(Regular(100, 0, 1e+06, name='test', label='test'), storage=Double()),
 'h8': Hist(Regular(100, 0, 1e+06, name='test', label='test'), storage=Double()),
 'h9': Hist(Regular(100, 0, 1e+06, name='test', label='test'), storage=Double())}

In [12]:
histogramming.dask_dfs[0]

Dask DataFrame Structure:
               event    lep    jet    bdt leptons_pt  jets_pt weight_mc runNumber      BDT
npartitions=1
0              int64  int64  int64  int64    float32  float32   float32    uint32  float64
2919999          ...    ...    ...    ...        ...      ...       ...       ...      ...
Dask Name: from_pandas, 1 tasks

In [13]:
temp
##delayed(self.dask_delayed)().compute()

                      leptons_pt      jets_pt   weight_mc  runNumber       BDT
event lep jet bdt
0     0   0   0    127083.039062  104784.4375  736.971985     284500  0.344902
              1    127083.039062  104784.4375  736.971985     284500  0.367624
              2    127083.039062  104784.4375  736.971985     284500  0.069904
              3    127083.039062  104784.4375  736.971985     284500  0.010252
              4    127083.039062  104784.4375  736.971985     284500  0.207318
...                          ...          ...         ...        ...       ...
3681  0   3   0     89429.367188   48895.3125  735.537537     284500  0.151289
              1     89429.367188   48895.3125  735.537537     284500  0.329823
              2     89429.367188   48895.3125  735.537537     284500  0.144091
              3     89429.367188   48895.3125  735.537537     284500  0.116522
              4     89429.367188   48895.3125  735.537537     284500  0.258275

[2920000 rows x 5 columns]

In [14]:
t1 = time.time()
zzzzzzz = dask.delayed(histogramming.fill_histograms('leptons_pt')).compute()
t2 = time.time()
print("fill time:", t2-t1)

fill time: 0.29291868209838867

In [15]:
zzzzzzz

{'h0': Hist(Regular(100, 0, 1e+06, name='test', label='test'), storage=Double()) # Sum: 2920000.0,
 'h1': Hist(Regular(100, 0, 1e+06, name='test', label='test'), storage=Double()) # Sum: 2920000.0,
 'h2': Hist(Regular(100, 0, 1e+06, name='test', label='test'), storage=Double()) # Sum: 2920000.0,
 'h3': Hist(Regular(100, 0, 1e+06, name='test', label='test'), storage=Double()) # Sum: 2920000.0,
 'h4': Hist(Regular(100, 0, 1e+06, name='test', label='test'), storage=Double()) # Sum: 2920000.0,
 'h5': Hist(Regular(100, 0, 1e+06, name='test', label='test'), storage=Double()) # Sum: 2920000.0,
 'h6': Hist(Regular(100, 0, 1e+06, name='test', label='test'), storage=Double()) # Sum: 2920000.0,
 'h7': Hist(Regular(100, 0, 1e+06, name='test', label='test'), storage=Double()) # Sum: 2920000.0,
 'h8': Hist(Regular(100, 0, 1e+06, name='test', label='test'), storage=Double()) # Sum: 2920000.0,
 'h9': Hist(Regular(100, 0, 1e+06, name='test', label='test'), storage=Double()) # Sum: 2920000.0}

In [16]:
t1 = time.time()
z = histogramming.fill_histograms('leptons_pt')
t2 = time.time()
print("fill time:", t2-t1)

fill time: 0.28405308723449707

In [17]:
z

{'h0': Hist(Regular(100, 0, 1e+06, name='test', label='test'), storage=Double()) # Sum: 5840000.0,
 'h1': Hist(Regular(100, 0, 1e+06, name='test', label='test'), storage=Double()) # Sum: 5840000.0,
 'h2': Hist(Regular(100, 0, 1e+06, name='test', label='test'), storage=Double()) # Sum: 5840000.0,
 'h3': Hist(Regular(100, 0, 1e+06, name='test', label='test'), storage=Double()) # Sum: 5840000.0,
 'h4': Hist(Regular(100, 0, 1e+06, name='test', label='test'), storage=Double()) # Sum: 5840000.0,
 'h5': Hist(Regular(100, 0, 1e+06, name='test', label='test'), storage=Double()) # Sum: 5840000.0,
 'h6': Hist(Regular(100, 0, 1e+06, name='test', label='test'), storage=Double()) # Sum: 5840000.0,
 'h7': Hist(Regular(100, 0, 1e+06, name='test', label='test'), storage=Double()) # Sum: 5840000.0,
 'h8': Hist(Regular(100, 0, 1e+06, name='test', label='test'), storage=Double()) # Sum: 5840000.0,
 'h9': Hist(Regular(100, 0, 1e+06, name='test', label='test'), storage=Double()) # Sum: 5840000.0}

In [18]:
histogramming.histograms['h9']

Hist(Regular(100, 0, 1e+06, name='test', label='test'), storage=Double()) # Sum: 5840000.0

In [19]:
t = {'n_workers':4}

In [20]:
histogramming.get_att()

{'histograms': {'h0': Hist(Regular(100, 0, 1e+06, name='test', label='test'), storage=Double()) # Sum: 5840000.0,
  'h1': Hist(Regular(100, 0, 1e+06, name='test', label='test'), storage=Double()) # Sum: 5840000.0,
  'h2': Hist(Regular(100, 0, 1e+06, name='test', label='test'), storage=Double()) # Sum: 5840000.0,
  'h3': Hist(Regular(100, 0, 1e+06, name='test', label='test'), storage=Double()) # Sum: 5840000.0,
  'h4': Hist(Regular(100, 0, 1e+06, name='test', label='test'), storage=Double()) # Sum: 5840000.0,
  'h5': Hist(Regular(100, 0, 1e+06, name='test', label='test'), storage=Double()) # Sum: 5840000.0,
  'h6': Hist(Regular(100, 0, 1e+06, name='test', label='test'), storage=Double()) # Sum: 5840000.0,
  'h7': Hist(Regular(100, 0, 1e+06, name='test', label='test'), storage=Double()) # Sum: 5840000.0,
  'h8': Hist(Regular(100, 0, 1e+06, name='test', label='test'), storage=Double()) # Sum: 5840000.0,
  'h9': Hist(Regular(100, 0, 1e+06, name='test', label='test'), storage=Double()) # Sum: 5840000.0},
 'folder_name': 'Skl_Data',
 'file_list': ['test0.h5',
  'test1.h5',
  'test2.h5',
  'test3.h5',
  'test4.h5',
  'test5.h5',
  'test6.h5',
  'test7.h5',
  'test8.h5',
  'test9.h5'],
 'client_params': {},
 'dask_dfs': [Dask DataFrame Structure:
                 event    lep    jet    bdt leptons_pt  jets_pt weight_mc runNumber      BDT
  npartitions=1
  0              int64  int64  int64  int64    float32  float32   float32    uint32  float64
  2919999          ...    ...    ...    ...        ...      ...       ...       ...      ...
  Dask Name: from_pandas, 1 tasks,
  Dask DataFrame Structure:
                 event    lep    jet    bdt leptons_pt  jets_pt weight_mc runNumber      BDT
  npartitions=1
  0              int64  int64  int64  int64    float32  float32   float32    uint32  float64
  2919999          ...    ...    ...    ...        ...      ...       ...       ...      ...
  Dask Name: from_pandas, 1 tasks,
  Dask DataFrame Structure:
                 event    lep    jet    bdt leptons_pt  jets_pt weight_mc runNumber      BDT
  npartitions=1
  0              int64  int64  int64  int64    float32  float32   float32    uint32  float64
  2919999          ...    ...    ...    ...        ...      ...       ...       ...      ...
  Dask Name: from_pandas, 1 tasks,
  Dask DataFrame Structure:
                 event    lep    jet    bdt leptons_pt  jets_pt weight_mc runNumber      BDT
  npartitions=1
  0              int64  int64  int64  int64    float32  float32   float32    uint32  float64
  2919999          ...    ...    ...    ...        ...      ...       ...       ...      ...
  Dask Name: from_pandas, 1 tasks,
  Dask DataFrame Structure:
                 event    lep    jet    bdt leptons_pt  jets_pt weight_mc runNumber      BDT
  npartitions=1
  0              int64  int64  int64  int64    float32  float32   float32    uint32  float64
  2919999          ...    ...    ...    ...        ...      ...       ...       ...      ...
  Dask Name: from_pandas, 1 tasks,
  Dask DataFrame Structure:
                 event    lep    jet    bdt leptons_pt  jets_pt weight_mc runNumber      BDT
  npartitions=1
  0              int64  int64  int64  int64    float32  float32   float32    uint32  float64
  2919999          ...    ...    ...    ...        ...      ...       ...       ...      ...
  Dask Name: from_pandas, 1 tasks,
  Dask DataFrame Structure:
                 event    lep    jet    bdt leptons_pt  jets_pt weight_mc runNumber      BDT
  npartitions=1
  0              int64  int64  int64  int64    float32  float32   float32    uint32  float64
  2919999          ...    ...    ...    ...        ...      ...       ...       ...      ...
  Dask Name: from_pandas, 1 tasks,
  Dask DataFrame Structure:
                 event    lep    jet    bdt leptons_pt  jets_pt weight_mc runNumber      BDT
  npartitions=1
  0              int64  int64  int64  int64    float32  float32   float32    uint32  float64
  2919999          ...    ...    ...    ...        ...      ...       ...       ...      ...
  Dask Name: from_pandas, 1 tasks,
  Dask DataFrame Structure:
                 event    lep    jet    bdt leptons_pt  jets_pt weight_mc runNumber      BDT
  npartitions=1
  0              int64  int64  int64  int64    float32  float32   float32    uint32  float64
  2919999          ...    ...    ...    ...        ...      ...       ...       ...      ...
  Dask Name: from_pandas, 1 tasks,
  Dask DataFrame Structure:
                 event    lep    jet    bdt leptons_pt  jets_pt weight_mc runNumber      BDT
  npartitions=1
  0              int64  int64  int64  int64    float32  float32   float32    uint32  float64
  2919999          ...    ...    ...    ...        ...      ...       ...       ...      ...
  Dask Name: from_pandas, 1 tasks],
 'hist_names': ['h0', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'h7', 'h8', 'h9'],
 'hist_params': {'bins': 100, 'start': 0, 'stop': 1000000, 'name': 'test'},
 'client': None}